fastapi[all]
python-jose==1.0.0
pandas==1.5.0
passlib==1.7.4
replit==3.2.4
tensorflow-cpu==2.9.1
tensorflow_probability==0.17.0
transformers==4.23.1
SQLAlchemy==1.4.41
SQLAlchemy-Utils==0.38.3
sqlalchemy2-stubs==0.0.2a29
sqlmodel==0.0.8
